body {
    background-color: #2148c0;
    /* display: flex; */
}

#login {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#password {
    border: solid white;
    margin: 16px;
    background-color: #2148c0;
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 10px;
}

#username {
    border: solid white;
    margin: 10px;
    background-color: #2148c0;
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 10px;
}

#loginBtn {
    margin: 10px;
    width: 310px;
    height: 45px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;

}

.logos {
   /* width: 100vw;
    height: 100vh; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin: 0 15px 10px 0; */
}

img {
    margin: 25px;
}